.redes{
    width: 100%;
    background-color: yellow;
}
.redes__wrapper{
    margin: 0 auto;
    
    max-width: 95rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.redes__ul{
    background-color: orange;
    padding: 50px;
    
    display: flex;
    justify-content: center;
    gap: 1em;
}
.redes__a{
    text-align: center;
}