.footer{
    background-color: aquamarine;
}

.footer__wrapper{
    margin: 0 auto;
    
    max-width: 40rem;
    padding: 5rem 0rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.footer__ul{
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}
.footer__a{
    text-align: center;
    text-decoration: underline;
}